@model Module1.Models.File

@using (Html.BeginForm("Create", "File", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="buttons-block">
        <input type="file" class="form-control-file" name="formFile">
    </div>
    <div>
        <h1>Name</h1>
        <input type="text" name="name"/>
    </div>
    <div>
        <h1>Description</h1>
        <textarea name="description"></textarea>
    </div>
    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h1>File link</h1>
        <input type="text" name="link"/>
    </div>
    <div>
        <h1>File password</h1>
        <input type="text" name="password"/>
    </div>
    <div>
        <h1>Download count</h1>
        <input type="number" name="count"/>
    </div>
    <div class="buttons-block">
        <input type="submit" class="btn btn-primary" value="Add"/>
    </div>
}