@model Module1.Models.File

<h3>File name: @Model.Name</h3>
<h6>Description: @Model.Description</h6>
<h6>Origin name: @Model.OriginName</h6>
<h6>Downloads: @Model.DownloadCount</h6>

@if (Model.Count <= 0)
{
    <h6>Sorry, you can't download this file</h6>
}
else if (Model.Password != null)
{
    using (Html.BeginForm("GetFileByPassword", "File", FormMethod.Post))
    {
        <input type="hidden" name="id" value="@Model.Id"/>
        <h6>Download by password</h6>
        <input type="text" name="password"/>
        <input type="submit" value="Send"/>
    }
}
else
{
    <h6>Download file</h6>
    <a href="~/File/GetFile/@Model.Id">@Model.Link</a>
}
<div>
    <object data=@Model.Content type=@Model.ContentType></object>
</div>
