﻿@model IEnumerable<Module2.Models.Restaurant> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var rest in Model)
    {
        <h6>@rest.Name</h6>
        <a href="~/Home/Show/@rest.Id">Show</a>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
