@model IEnumerable<Module2.Models.Dish>

@foreach (var dish in Model)
{
    <h5>Name: @dish.Name</h5>
    <h6>Description: @dish.Description</h6>
    <h6>Price: @dish.Price</h6>
    if (User.Identity.IsAuthenticated)
    {
        <a href="~/Basket/Add/@dish.Id">Add to basket</a>
    }
    if (User.IsInRole("admin"))
    {
        <a href="~/Admin/DeleteDish/@dish.Id">Delete dish</a>
    }

}