<div asp-validation-summary="All" class="text-danger"></div>

<h2>Add new role</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label for="name">New role</label>
                <input name="name" type="text" class="form-control" placeholder="Enter role">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>