@model IEnumerable<Restaurant>
 
<h2>List of roles</h2>
<table class="table">
    @foreach (var res in Model)
    {
        <tr>
            <td>@res.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@res.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a class="btn btn-primary" asp-action="Create">Add restaurant</a>